@tailwind base;
@tailwind components;
@tailwind utilities;

.leaflet-tooltip {
  background: transparent !important;
  box-shadow: none !important;
  border: none !important;
  padding: 0 !important;
}
